.fade-in {
    opacity: 0;
    animation: fade-in 0.5s ease-out forwards;
}
.fade-left{
    opacity: 0;
    animation: fade-left 0.5s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.animation-fadein{
    animation-name: fade-in;
    animation-delay: 0s;
    animation-duration: 1.5s;
}
.animation-fadeleft{
    animation-name: fade-left;
    animation-delay: 0s;
    animation-duration: 1.5s;
}

@font-face {
    font-family: Lato;
    src: url(./assets/Lato/Lato-Regular.ttf);
}

html {
    height: 100%;
}

body {
    font-family: 'Lato' !important;
}

.page-header {
    transition: all 0.3s;
    left: 0;
    top: 0;
    z-index: 10
}

.page-header .container-fluid .d-flex a {
    line-height: 60px;
}

.page-header .container-fluid .d-flex a img {
    max-width: 100%;
    height: auto
}

.page-header .container-fluid .d-flex div nav {
    background: transparent !important;
}

.play a img {
    width: 175px;
    height: 50px;
}

.play-text {
    font-size: 14px;
    top: 2px;
    left: 60px;
}

.play:hover .play-text {
    transition: 0.7s;
    color: yellow !important;
}

.fs-20 {
    font-size: 20px;
}

#top {
    table-layout: fixed;
    width: 100%;
    background-image: url('./assets/background_market.jpg');
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.content {
    max-width: 980px;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    padding-top: 100px;
}

.logo {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all 0.3s;
}

.link-app {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
}
.link-app a img{
    max-width: 100%;
    height: auto;
}

.mr-ml-15 {
    margin-right: 15px;
    margin-left: 15px;
}

#fullpage {
    height: 100%;
    transition: all 700ms ease 0s;
}

#top .d-inline-block {
    vertical-align: top;
}

/*page Intro*/

#intro {
    background-image: url('./assets/bg2.jpg');
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

#intro .d-inline-block {
    vertical-align: top;
}

.content-title {
    min-height: 120px;
    font-size: 30px;
    font-weight: 600;
}

.content-title h3 {
    font-weight: 900;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px #25d5e8;
    z-index: 2;
    line-height: 100px;
    font-size: 26px;
}

.z-index-2 {
    z-index: 2;
}

.z-index-20 {
    z-index: 20;
}

.stage-owl-width {
    width: 1960px;
    transition: all 0.25s ease 0s
}

.olw-item-width {
    width: 490px;
}

.vertical-top {
    vertical-align: top;
}

.content-footer {
    border-top: 2px solid #05779d;
    padding-top: 90px;
    margin-top: 90px;
    background: initial;
    padding-bottom: 0;
}

.text {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-intro {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    padding-top: 80px;
}

.img-line {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.img-bg {
    width: 980px;
}

.img-bg img {
    max-width: 100%;
    height: auto;
    vertical-align: auto;
}

.text-content {
    width: 60%;
    left: 20%;
    top: 12%;
}

.text-content p {
    margin-bottom: 10px;
    font-size: 16px;
}

.text-content p:last-child {
    font-size: 16px;
}


/*Main feature*/
#main_feature {
    background: url('./assets/bg7.jpg') top center;
    box-sizing: border-box;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#main_feature .d-inline-block {
    vertical-align: top;
}

.content-feature {
    padding-top: 80px;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.intro2 {
    min-height: 100vh;
    transition: opacity 0.5s ease-out;
}

.content-title-bg {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    left: 0;
    z-index: 1;
}

.content-title-img {
    max-width: 386px;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.slide-part {
    width: 1045px;
}

.bg-item-feature {
    background: url('./assets/sec6_item.png') no-repeat;
    margin-top: 10px;
    background-size: contain;
    height: 380px;
    padding-left: 40px;
    padding-right: 60px;
    padding-top: 18%;
}

.bg-item-feature h3 {
    font-size: 24px;
    font-weight: 900;
    color: #0cb3c7;
    margin-bottom: 15px;
}

.bg-item-feature p {
    text-align: justify;
    color: #0cb3c7;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

/*Token*/
#token {
    background-image: url('./assets/bgr_tokken.jpg');
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
}

.content-token {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    padding-top: 80px;
}

.content-des-token {
    padding-top: 30px
}

.list-token li {
    font-size: 16px;
    margin-bottom: 2px;
    padding-left: 35px;
    position: relative;
    color: white;
}

.item-token-left h4 {
    font-size: 18px;
    line-height: 30px;
    padding-left: 30px;
    position: relative;
    color: white;
}

.item-token-title {
    color: #00d4d9;
    line-height: 30px
}

.item-token-left h4:before {
    content: "";
    width: 24px;
    position: absolute;
    height: 24px;
    top: 2px;
    left: 0;
    background-image: url('./assets/icon_token.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.item-token-left ul li:before {
    content: "";
    width: 10px;
    position: absolute;
    height: 10px;
    background: #1bc9f4;
    border-radius: 50%;
    left: 18px;
    top: 7px;
}

/*Roadmap*/
#roadmap {
    background-image: url('./assets/bgr_road.jpg');
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.content-roadmap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    padding-top: 80px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.item-roadmap {
    width: 20%;
    float: left;
    padding: 0 15px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.item-roadmap:nth-child(2) {
    padding-bottom: 25px;
}

.item-roadmap:nth-child(3) {
    padding-bottom: 60px;
}

.item-roadmap:nth-child(4) {
    padding-bottom: 60px;
}

.item-roadmap:nth-child(5) {
    padding-bottom: 90px;
}

.item-text-des {
    font-size: 16px;
    line-height: 1.4
}

.w-240 {
    width: 240px !important;
}

.item-roadmap-content {
    text-align: right;
    padding-top: 10px;
}

.item-time {
    color: #00ffff;
    border: 1px solid #00ffff;
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    width: 180px;
}

.item-icon {
    padding-right: 30px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
    margin-top: 3px;
}

.item-icon-img {
    width: 40px;
    height: 40px;
    display: inline-flex;
    padding: 1px;
    box-shadow: 0 0 9px #00edee;
    border-radius: 50%;
}

.item-icon-img:before {
    height: 100px;
    top: 0px;
    right: 48px;
    width: 1px;
    content: "";
    background-color: #01dde0;
    position: absolute;
    z-index: -1;
}

.line-left {
    position: absolute;
    bottom: 25px;
    right: 85px;
    height: 1px;
    width: 215px;
    z-index: -1;
    background: #00edee;
}

.item-roadmap:nth-child(2) .line-left {
    transform: rotate(-6deg);
    bottom: 40px;
}

.item-roadmap:nth-child(3) .line-left {
    transform: rotate(-8deg);
    bottom: 63px;
}

.item-roadmap:nth-child(4) .line-left {
    bottom: 85px;
}

.item-roadmap:nth-child(5) .line-left {
    transform: rotate(-8deg);
    bottom: 95px;
}

.line-right {
    position: absolute;
    height: 1px;
    width: 70px;
    background: #00edee;
    bottom: 115px;
    right: 0;
    z-index: -1;
}

.item-icon-img:after {
    height: 10px;
    top: 0px;
    right: 43.5px;
    width: 10px;
    border-radius: 50%;
    content: "";
    background-color: #01dde0;
    position: absolute;
    z-index: -1;
}

.item-text ul {
    list-style: none;
    color: white;
    padding-left: 0;
}

.item-text ul li {
    font-size: 14px;
}

.item-roadmap.active .item-roadmap-content .item-time {
    background: #00ffff;
    color: black;
}

.item-roadmap .item-roadmap-content .item-time:hover {
    background: #00ffff;
    color: black;
}

.content-raodmap {
    padding-top: 80px;
}

/*Our team*/
#team {
    background-image: url('./assets/bgr_team.jpg');
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.content-team {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    padding-top: 80px;
}

.content-text {
    width: 480px;
}

.group-text {
    max-width: 540px;
    background: url('./assets/border_team.png');
    border-radius: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 50px 40px 20px;
}

.group-text p {
    font-size: 18px;
    line-height: 1.4;
    color: white;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.member {
    width: 33.33%;
    margin-bottom: 15px
}

.avatar_img {
    max-width: 145px;
    margin: 0 auto;
    padding: 3px;
    border: 1px solid #01dde0;
    border-radius: 35px;
    box-shadow: 0 0px 10px rgba(1, 221, 224, 0.5);
    -webkit-box-shadow: 0 0px 10px rgba(1, 221, 224, 0.5);
}

.avatar_img:hover {
    box-shadow: 0 0px 10px rgba(1, 221, 224, 1.2);
    -webkit-box-shadow: 0 0px 10px rgba(1, 221, 224, 1.2);
}

.avatar_img img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    scale: 1.1;
    transition: 0.3s;
}

.avatar_img:hover img {
    transform: scale(1.15);
    transition: 0.3s;
    -webkit-transition: all 0.3s;
}

.member-name {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
}

.member-position {
    font-size: 15px;
    color: #35d6fd;
    font-weight: 500;
    line-height: 1.2;
}

/*Partners*/
#partners {
    background-image: url('./assets/bgr_partner.jpg');
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.partner-item-des {
    width: 140px;
    margin-left: 5%;
    margin-right: 5%
}

.content-partners {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 80px;
}

.partner-item .title {
    background-image: url('./assets/bgtext.jpg');
    background-repeat: repeat;
    background-position: center center;
    width: 100%;
    text-align: center;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
}

.partner-item .title p {
    text-align: left;
    color: #0bbbbb;
    font-size: 18px;
    margin-bottom: 0;
    position: relative;
    -webkit-text-stroke: 0.5px #25d5e8;
}

.partner-item a {
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.partner-item a img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.list-partners {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.list-partners.p1 ul {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
}

.list-partners.p1 ul li {
    width: 12%;
    float: none;
    text-align: center;
}

.list-partners.p1.p2 ul {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
}

.list-partners.p1.p2 ul li {
    width: 10%;
    float: none;
    text-align: center;
}

.list-partners.p1.p3 ul {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
}

.list-partners.p1.p3 ul li {
    width: 10%;
    float: none;
    text-align: center;
}

.list-partners.p1.p4 ul {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
}

.list-partners.p1.p4 ul li {
    width: 10%;
    float: none;
    text-align: center;
}

.item-partner a img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/*Contact*/
#contact {
    background-image: url('./assets/bgr_ct.jpg');
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.text-stroke {
    -webkit-text-stroke: 0.5px #25d5e8;
}

.mw-500 {
    max-width: 500px;
}

.mw-180 {
    max-width: 180px;
}

.content-contact {
    padding-top: 50px;
}

.contact-form .form {
    max-width: 80%;
    left: 10%;
    top: 0;
}

form .form-group .form-control {
    display: block;
    width: 100%;
    color: white;
    border-color: white;
    background: transparent;
}

form .form-group .form-control::placeholder {
    color: white;
}

form .form-group textarea.form-control {
    min-height: 100px;
}

form .form-group button {
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    background-image: url('./assets/bgr_send.png');
    background-color: transparent;
    background-size: contain;
    border: 0;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -30px;
    left: 130px;
    width: 150px;
    height: 58px;
}

.list-socials li a i:hover {
    color: #fca51e !important;
    transition: all 0.3s;
}

.footer-left-des {
    font-size: 18px;
    line-height: 26px
}

.mb-26 {
    margin-bottom: 26px;
}

.fs-14 {
    font-size: 14px;
}

.ft-right-h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
}

.footer-center h3 {
    font-size: 24px;
    line-height: 40px;
    margin-top: 0;
    color: white;
    font-weight: 700
}

.pr-10 {
    padding-right: 10px
}

.fs-24 {
    font-size: 24px;
}

.text-contact-des {
    text-align: left;
    font-size: 18px;
    line-height: 26px;
}


/*Scroll spy*/
.scrollspy {
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
    background: #00ffff;
    color: #00ffff;
    border-radius: 50%;
    z-index: 1;
    left: 50%;
    top: 50%;
    transition: all 0.1s ease-in-out;
}

.tooltip-scrollspy {
    right: 17px;
    z-index: 9;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%)
}

.li-tooltip {
    width: 14px;
    height: 13px;
    margin: 7px;
    display: inline-block;
}

.z-index-1 {
    z-index: 1;
}

.tooltip-text {
    visibility: hidden;
    width: 60px;
    color: #00ffff;
    text-align: right;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    bottom: auto;
    right: 128%;
    font-size: 11px;
}


.li-tooltip:hover .tooltip-text {
    visibility: visible;
}

.test {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/*Responsive*/
@media (min-width: 1024px) and (max-width: 1280px) {
    .play{
        display: none;
    }
}
@media (min-width: 1024px) {
    #intro .intro .content-intro .hero .img_bg {
        width: 980px;
    }
}

@media (min-width: 1620px) {
    #contact .intro .content-contact .content-title {
        margin-top: 0;
        min-height: 60px;
    }

    #contact .intro .content .content-title h3 {
        line-height: 60px;
    }
}

@media (min-width: 1024px) and (max-width: 1920px) {

    #token .content-des-token {
        padding-left: 30px;
        padding-right: 30px;
    }

    #token .item-token-left h4 {
        font-size: 18px;
    }

    #token .item-token-left ul li {
        font-size: 16px;
        margin-bottom: 2px;
    }

    #main_feature .intro .content-feature .slide .slide-part .bg-item-feature {
        background-size: contain;
        padding-top: 19%;
    }

    #main_feature .intro .content-feature .slide .slide-part {
        width: 980px;
    }

    #main_feature .intro .content-feature .slide .slide-part .bg-item-feature {
        height: 400px;
        padding-left: 40px;
        padding-right: 40px;
    }

    #main_feature .intro .content-feature .slide .slide-part .bg-item-feature p {
        font-size: 16px;
    }

    #token .content-token .content-title {
        margin-top: 0;
    }

    #main_feature .intro .content-feature .slide .slide-part .bg-item-feature h3 {
        font-size: 20px;
        text-align: center;
    }

    #roadmap .content-title {
        margin-top: 0;
    }

    #team .content-team {
        margin-top: 0;
    }

    #contact .content-title {
        margin-top: 0;
    }

    #partner .content-title {
        margin-top: 0;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .item-roadmap-content .item-text ul li {
        font-size: 14px;
        line-height: 18px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .item-roadmap-content .item-text {
        padding-bottom: 20px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .item-roadmap-content .item-time {
        font-size: 22px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap.active .item-roadmap-content .item-time {
        background: #00ffff;
        color: #111;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .item-roadmap-content .item-icon {
        padding-top: 75px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap:nth-child(3) .item-roadmap-content .item-icon {
        padding-top: 67px;
    }

    #partner .content-partners {
        padding-top: 10px;
    }

    #contact .content-contact-form {
        max-width: 500px;
    }

    #contact .content-contact-form .contact-form form .form-group .form-control {
        height: 46px;
        font-size: 16px;
    }

    #contact .content-contact-form .contact-form form .form-group button {
        width: 160px;
        height: 68px;
        left: calc(50% - 80px);
        background-size: contain;
        font-size: 24px;
    }

    #contact .content-footer {
        margin-top: 50px;
    }

    .content-footer .footer-logo-left img {
        width: 160px;
    }

    .content-footer .footer-center h3 {
        font-size: 18px;
    }

    .content-footer a {
        font-size: 16px;
    }

    #contact .intro .content-contact,
    #intro .intro .content-intro,
    #main_feature .intro .content-feature,
    #partners .intro .content-partners,
    #roadmap .intro .content-roadmap,
    #team .intro .content-team,
    #token .intro .content-token {
        padding-top: 80px;
        align-content: flex-start;
    }

    #contact .intro .content-contact .content-title,
    #intro .intro .content-intro .content-title,
    #main_feature .intro .content-feature .content-title,
    #partners .intro .content-partners .content-title,
    #roadmap .intro .content-roadmap .content-title,
    #team .intro .content-team .content-title,
    #token .intro .content-token .content-title {
        min-height: 100px;
    }


    #contact .intro .content-contact .content-title h3,
    #intro .intro .content-intro .content-title h3,
    #main_feature .intro .content-feature .content-title h3,
    #partners .intro .md-content .content-partners h3,
    #roadmap .intro .content-roadmap .content-title h3,
    #team .intro .content-team .content-title h3,
    #token .intro .content-token .content-title h3 {
        line-height: 100px;
        font-size: 26px;
    }

    #main_feature .intro .content-feature .content-title .content-title-bg img,
    #partners .intro .md-content .content-partners .content-title-bg img,
    #roadmap .intro .content-roadmap .content-title .content-title-bg img,
    #team .intro .content-team .content-title .content-title-bg img,
    #token .intro .content-token .content-title .content-title-bg img {
        max-width: 386px;
    }

    #contact .intro .content-contact .content-title {
        min-height: 50px;
    }

    #contact .intro .content-contact .content-title h3 {
        line-height: 50px;
    }
}

@media (max-width: 1024px) {
    .play{
        display: none;
    }

    #top {
        height: auto !important;
        padding-bottom: 60px;
    }

    .item-icon-img:before {
        display: none;
    }.item-icon-img:after {
        display: none;
    }
    #roadmap .content-raodmap .list-roadmap .item-roadmap:nth-child(5) .line-right {
        display: none;
    }

    #roadmap .content-raodmap .list-roadmap .item-roadmap:before {
        background: #00ffff;
        width: 1px;
        height: 119%;
        content: "";
        left: 13px;
        top: 0;
        position: absolute;
    }

    #roadmap .content-raodmap .list-roadmap .item-roadmap:nth-child(5) {
        padding-bottom: 50px;
    }

    #token {
        padding-bottom: 60px;
    }

    .footer-center h3{
        font-size: 14px;
    }
    .ft-right-h3{
        font-size: 14px;
    }
    .footer-center ul li{
        font-size: 12px;
    }
    .text-contact a, .copyright{
        font-size: 12px;
    }

    #team {
        padding-bottom: 60px;
    }

    #partners {
        padding-bottom: 60px;
    }


    #roadmap {
        padding-bottom: 60px;
    }

    #intro .intro .content-intro {
        padding-top: 0;
    }

    #intro .intro .content-intro .content-title {
        min-height: 60px;
    }

    #intro .intro .content-intro .content-title h3 {
        line-height: 60px;
        font-size: 30px;
    }

    #intro .intro .content-intro .text .text-content {
        position: relative;
        width: 100%;
        left: inherit;
        top: inherit;
    }

    #intro .intro .content-intro .text img {
        display: none;
    }

    #intro .intro .content-intro .text .text-content p {
        font-size: 14px;
        text-align: justify;
        margin-bottom: 10px;
    }

    #intro .intro .content-intro .text {
        padding: 0 15px;
    }

    #main_feature .intro .content-feature .slide .slide-part {
        width: 100%;
    }

    #main_feature .intro .content-feature .slide .slide-part .bg-item-feature {
        background-size: contain;
        height: auto;
        background-position: center;
        padding-top: 38%;
        padding-left: 10%;
        padding-right: 10%;
        min-height: 350px;
    }

    #main_feature .intro .content-feature .slide .slide-part .bg-item-feature h3 {
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }

    #main_feature .intro .content-feature .slide .slide-part .bg-item-feature p {
        font-size: 14px;
    }

    #token .item-token-left h4 {
        font-size: 15px;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    #token .item-token-left ul li {
        font-size: 13px;
        margin-bottom: 0px;
        /* padding-left: 24px; */
    }

    #token .content-token {
        padding-top: 10px;
    }

    #token .item-token-left h4 {
        margin-bottom: 0;
        margin-top: 0;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap {
        width: 100%;
        float: none;
    }

    #roadmap .content-roadmap .list-roadmap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap:first-child {
        padding-top: 0;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .item-roadmap-content {
        text-align: left;
        padding: 5px 10px;
        position: relative;
        border: 1px solid #00ffff;
        display: inline-block;
        width: 100%;
        border-radius: 10px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .item-roadmap-content .item-text {
        padding-bottom: 10px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .item-roadmap-content .item-icon {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: -48px;
        padding: 0;
        z-index: 9;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .item-roadmap-content .item-time {
        font-size: 18px;
        padding: 0;
        background: none;
        border: none;
        width: auto;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap.active .item-roadmap-content .item-time {
        background: none;
        color: #00ffff;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap {
        padding-left: 40px;
        margin-bottom: 10px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap.active .item-roadmap-content {
        background: #42a7a7;
        border-color: #42a7a7;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap.active .item-roadmap-content .item-time {
        color: black;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .line-left {
        display: none !important;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .item-roadmap-content .item-text ul li {
        font-size: 13px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .content-roadmap .item-text {
        padding-bottom: 0;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap:nth-child(2) {
        padding-bottom: 0px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap:nth-child(3) {
        padding-bottom: 0;
    }

    #team .content-team .team-detail .content-text p {
        font-size: 14px;
        margin-bottom: 10px;
        padding-bottom: 0;
    }

    #team .content-team .team-detail .content-text .group-text {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #team .content-team {
        padding-top: 20px;
    }

    #team .list-member {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 10px 15px;
        margin-top: 10px;
    }

    #team .content-team .team-detail .list-member .member {
        padding: 0 15px;
        margin-bottom: 0;
    }

    #team .content-team .team-detail .list-member .avatar .avatar-img img {
        width: 100%;
        -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
        transform: scale(1.08);
    }

    #team .content-team .team-detail .list-member .avatar .avatar-img {
        overflow: hidden;
    }

    #team .content-team .team-detail .list-member .member .member-info h4 {
        font-size: 14px;
        margin: 0;
        margin-top: 5px;
    }

    #team .content-team .team-detail .list-member .member .member-info h5 {
        margin-top: 5px;
    }

    #partners .content-partner .list-partners ul {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    #partners .content-partner .list-partner ul li {
        margin-bottom: 10px;
        float: none;
        width: 25%;
    }

    #contact .content-contact-form .contact-form  form .form-group .form-control {
        height: 40px;
        font-size: 16px;
    }

    #contact .content-contact-form .contact-form form .form-group button {
        width: 130px;
        height: 52px;
        background-size: contain;
        left: calc(50% - 65px);
        bottom: -24px;
    }

    #contact .content-contact-form .contact-form form .form-group button {
        font-size: 18px;
        background-size: cover;
    }

    .content-footer .footer-logo-left img {
        width: 180px;
    }

    .footer-left .footer-text-left {
        color: #fff;
        text-align: center;
        font-size: 13px;
    }

    .content-footer .text-contact {
        text-align: left;
        font-size: 13px;
    }

    .content-footer .footer-logo-left {
        margin-bottom: 6px;
    }

    #team .content-team .team-detail .content-text .group-text {
        padding: 15px;
        background: none;
        border: 1px solid #00ffff;
    }

    #contact .content-footer {
        margin-top: 20px;
    }

    .copyright {
        font-size: 12px;
    }

    .list-socials {
        margin-bottom: 0;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap:nth-child(4) {
        padding-bottom: 0;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap:nth-child(5) {
        padding-top: 0;
    }

    .play {
        display: none;
    }

    #contact .intro .content-contact .content-title,
    #partners .intro .content-partners .content-title,
    #roadmap .intro .content-roadmap .content-title,
    #team .intro .content-team .content-title,
    #token .intro .content-token .content-title {
        min-height: 98px;
    }

    #contact .intro .content-contact .content-title h3,
    #main_feature .intro .content-feature .content-title h3,
    #partners .intro .content-partners .content-title h3,
    #roadmap .intro .content-roadmap .content-title h3,
    #team .intro .content-team .content-title h3,
    #token .intro .content-token .content-title h3 {
        line-height: 98px;
        font-size: 26px;
    }

    #main_feature .intro .content-feature .content-title .content-title-bg img,
    #partners .intro .md-content .content-title .content-title-bg img,
    #roadmap .intro .content-roadmap .content-title .content-title-bg img,
    #team .intro .content-team .content-title .content-title-bg img,
    #token .intro .content-token .content-title .content-title-bg img {
        max-width: 360px;
    }

    #contact .intro .content-contact,
    #intro .intro .content-intro,
    #main_feature .intro .content-feature,
    #partner .intro .md-content,
    #roadmap .intro .content-roadmap,
    #team .intro .content-team,
    #token .intro .content-token {
        padding-top: 80px;
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }

    #intro .intro .content-intro .content-titl {
        margin-top: 0;
    }

    #token .intro .content-token .content-titl {
        margin-top: 0;
    }

    #roadmap .intro .content-roadmap .content-titl {
        margin-top: 0;
    }

    #token .intro .content-token {
        padding-top: 60px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .content-roadmap .item-text p {
        font-size: 12px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .content-roadmap .item-time {
        font-size: 15px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .content-roadmap .item-text ul li {
        font-size: 12px;
        line-height: 14px;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .content-roadmap ul {
        margin-bottom: 0;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .content-roadmap:hover .item-text {
        padding-bottom: 0 !important;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap .content-roadmap:hover .item-time {
        background: none;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap:nth-child(3) .content-roadmap .item-icon {
        padding-top: 0;
    }

    #roadmap .content-roadmap .list-roadmap .item-roadmap:nth-child(3) .content-roadmap {
        padding-top: 5px;
    }

    #roadmap .intro .content-roadmap {
        margin-top: 0;
    }

    #team .content-team {
        padding-top: 10px;
    }

    #team .content-title {
        margin-top: 0;
    }

    #team .content-team .team-detail .content-text p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    #team .content-team .team-detail .content-text .group-text {
        padding: 5px 10px;
        padding-bottom: 5px;
    }

    #partners .intro .content-partners .content-title {
        margin-top: 0;
    }

    #partners .content-partners {
        padding-top: 10px;
    }

    #contact .intro .content-contact .content-title {
        margin-top: 0;
        min-height: 60px;
    }

    #contact .intro .content-contact .content-title h3 {
        line-height: 60px;
    }

    #contact .content-contact-form {
        max-width: 320px;
    }

    #contact .content-contact-form .contact-form form .form-group {
        margin-bottom: 8px;
    }

    #contact .content-contact-form .contact-form form .form-group .form-control {
        height: 32px;
        font-size: 13px;
        line-height: 32px;
    }

    #contact .content-contact-form .contact-form form .form-group textarea.form-control {
        min-height: 80px;
        height: 80px;
    }

    .footer-left .footer-logo-left {
        font-size: 11px;
    }

    .content-footer .footer-left-des img {
        width: 120px;
    }

    #main_feature .intro .content-feature .slide .slide-part .bg-item-feature {
        background-position: top center;
        padding-top: 18%;
    }

    .page-header .logo {
        max-width: 80px;
    }

    .page-header .logo a {
        line-height: 36px;
    }

    #top .intro .content .logo img {
        width: 160px;
    }

    #top .intro .content .logo a {
        font-size: 16px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .play{
        display: none;
    }
    #top .intro .content-title .slide img {
        max-width: 50%;
    }

    #intro .intro .content-intro .slide .text-content {
        padding-left: 15%;
        padding-right: 15%;
    }

    #main_feature .intro .content-feature .slide .slide-part {
        width: 460px;
    }

    #partners .content-partners .list-partners ul li {
        width: 16.66%;
    }
    .group-text{
        max-width: 380px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .play{
        display: none;
    }
    #top .intro .content .logo img {
        max-width: 120px;
    }
    #team .content-team .team-detail .list-member .member .content-text h4 {
        font-size: 13px;
    }

    #team .content-team .team-detail .list-member .member .content-text h5 {
        font-size: 13px;
    }

    #top .intro .content-title .logo .link-app a {
        max-width: 24%;
        margin-right: 1.5%;
        margin-left: 1.5%;
    }

    #partners .content-partners .list-partners ul li .img {
        padding: 0 5px !important;
    }

    #partners .content-partners .list-partners.p4 ul li {
        width: 12%;
    }
}

@media (max-width: 420px) {
    .play{
        display: none;
    }
    #top .intro .content .logo img {
        max-width: 80px;
    }
    #partners .partners-top .partner-item {
        width: 40%;
    }

    #team .content-team .team-detail .list-member .member .content-text h4 {
        font-size: 12px;
    }

    #team .content-team .team-detail .list-member .member .content-text h5 {
        font-size: 12px;
    }

    #team .content-team .team-detail .content-text .group-text {
        padding: 15px;
        background: none;
        border: 1px solid #00ffff;
    }

    #main_feature .intro .content-feature .slide .slide-part .bg-item-feature {
        padding-left: 0;
        padding-right: 0;
    }

    #token .item-token-left .item-token h3 {
        font-size: 14px;
        line-height: 18px;
    }

    .footer-left.bottom h3 {
        padding-top: 10px;
    }

    #token .intro .content-token .content-title {
        min-height: 70px;
        margin-top: 6px;
    }

    #token .intro .content-token .content-title h3 {
        line-height: 70px;
        font-size: 20px;
    }

    #token .intro .content-token .content-title img {
        max-width: 280px;
    }

    #token .item-token-left h3 {
        font-size: 13px;
    }

    #token .item-token-left ul li {
        font-size: 12px;
        /* width: 50%; */
    }


    .item-chart {
        text-align: center;
        margin-top: 6px;
    }

    .item-chart img {
        /* max-width: 80%; */
    }

    #roadmap .intro .content-roadmap {
        padding-top: 70px;
    }

    #team .content-team .team-detail .content-text .group-text {
        padding: 5px 10px;
    }

    #team .list-member {
        padding-top: 0;
        padding-bottom: 0;
    }

    #team
    .content-team
    .team-detail
    .list-member
    .member
    .content-text
    h5 {
        margin-top: 0;
    }

    #main_feature .intro .content-feature .slide .slide-part .item .bg-item-feature {
        background-position: top center;
    }

    #main_feature .intro .content-feature .slide .slide-part .item .bg-item-feature {
        padding-top: 15%;
    }

    .burger,
    .burgers {
        width: 30px;
    }
}

@media (max-width: 380px) {

    .play{
        display: none;
    }
    #team .content-team .team-detail .list-member .member .content-text h5 {
        font-size: 11px;
    }
}

@media (max-width: 370px) {
    .play{
        display: none;
    }
    #token .item-token-left ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
    }

    #token .cnt-token-right {
        width: 100%;
    }

    #token .width-100-percent {
        width: 100%;
    }
}

